name: Docker Image CI

on:
  push:
    branches: '**'
    tags: '**'
  schedule:
  - cron: 0 0 * * 6

env:
  TAG_PREFIX: $([ ${GITHUB_REF#refs/*/} == "master" ] && echo "latest" || echo ${GITHUB_REF#refs/*/})

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php_version: ["5.6", "7.0", "7.1", "7.2", "7.3", "7.4", "8.0"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile-${{ matrix.php_version }}
          platforms: linux/amd64,linux/arm64,linux/386,linux/arm/v7,linux/arm/v6
          push: (${{ (github.repository == 'laradock/php-fpm') && (github.ref == 'refs/heads/master') }})
          tags: laradock/php-fpm:${{ env.TAG_PREFIX }}-${{ matrix.php_version }}

      - name: check
        run: |
          docker image ls
